;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.22.1"]
  [garden "1.3.9"]
  [reagent "1.0.0-alpha2"]
  [re-frame "1.1.1"]
  ]

 :dev-http {8080 "public"}
 
 :builds
 {:frontend
  {:target :browser
   :modules {:chess-vision {:init-fn up.chess.app/init}}}}}
